interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ansible/ansible/pulls/73544
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/ansible/ansible/pulls/73544\",\"id\":570499421,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0NTcwNDk5NDIx\",\"html_url\":\"https://github.com/ansible/ansible/pull/73544\",\"diff_url\":\"https://github.com/ansible/ansible/pull/73544.diff\",\"patch_url\":\"https://github.com/ansible/ansible/pull/73544.patch\",\"issue_url\":\"https://api.github.com/repos/ansible/ansible/issues/73544\",\"number\":73544,\"state\":\"open\",\"locked\":false,\"title\":\"[stable-2.9]
        Add AlmaLinux to the family of Red Hat-like operating systems (#73541)\",\"user\":{\"login\":\"samdoran\",\"id\":4047861,\"node_id\":\"MDQ6VXNlcjQwNDc4NjE=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/4047861?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/samdoran\",\"html_url\":\"https://github.com/samdoran\",\"followers_url\":\"https://api.github.com/users/samdoran/followers\",\"following_url\":\"https://api.github.com/users/samdoran/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/samdoran/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/samdoran/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/samdoran/subscriptions\",\"organizations_url\":\"https://api.github.com/users/samdoran/orgs\",\"repos_url\":\"https://api.github.com/users/samdoran/repos\",\"events_url\":\"https://api.github.com/users/samdoran/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/samdoran/received_events\",\"type\":\"User\",\"site_admin\":false},\"body\":\"#####
        SUMMARY\\r\\n<!--- Describe the change below, including rationale and design
        decisions -->\\r\\nBackport of #73541 for Ansible 2.9.\\r\\n<!--- HINT: Include
        \\\"Fixes #nnn\\\" if you are fixing an existing issue -->\\r\\n\\r\\n#####
        ISSUE TYPE\\r\\n<!--- Pick one below and delete the rest -->\\r\\n- Bugfix
        Pull Request\\r\\n\\r\\n##### COMPONENT NAME\\r\\n<!--- Write the short name
        of the module, plugin, task or feature below -->\\r\\n`lib/ansible/module_utils/facts/system/distribution.py`\",\"created_at\":\"2021-02-09T18:09:43Z\",\"updated_at\":\"2021-02-19T06:57:03Z\",\"closed_at\":null,\"merged_at\":null,\"merge_commit_sha\":\"e1234321c5c296e65533aa659c2ba629cb464d15\",\"assignee\":null,\"assignees\":[],\"requested_reviewers\":[],\"requested_teams\":[],\"labels\":[{\"id\":1316917295,\"node_id\":\"MDU6TGFiZWwxMzE2OTE3Mjk1\",\"url\":\"https://api.github.com/repos/ansible/ansible/labels/affects_2.9\",\"name\":\"affects_2.9\",\"color\":\"5319e7\",\"default\":false,\"description\":\"This
        issue/PR affects Ansible v2.9\"},{\"id\":266246971,\"node_id\":\"MDU6TGFiZWwyNjYyNDY5NzE=\",\"url\":\"https://api.github.com/repos/ansible/ansible/labels/backport\",\"name\":\"backport\",\"color\":\"00ff00\",\"default\":false,\"description\":\"This
        PR does not target the devel branch.\"},{\"id\":785271699,\"node_id\":\"MDU6TGFiZWw3ODUyNzE2OTk=\",\"url\":\"https://api.github.com/repos/ansible/ansible/labels/bug\",\"name\":\"bug\",\"color\":\"fbca04\",\"default\":true,\"desc[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://github.com/ansible/ansible/pull/73544.diff
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://patch-diff.githubusercontent.com/raw/ansible/ansible/pull/73544.diff
    status:
      code: 302
      message: Found
    url: https://github.com/ansible/ansible/pull/73544.diff
- request:
    body: null
    headers:
    method: GET
    uri: https://patch-diff.githubusercontent.com/raw/ansible/ansible/pull/73544.diff
  response:
    body:
      string: "diff --git a/changelogs/fragments/support_almalinux.yml b/changelogs/fragments/support_almalinux.yml\nnew
        file mode 100644\nindex 0000000000000..4dbc040a62f1e\n--- /dev/null\n+++ b/changelogs/fragments/support_almalinux.yml\n@@
        -0,0 +1,2 @@\n+bugfixes:\n+  - add AlmaLinux to fact gathering (https://github[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://patch-diff.githubusercontent.com/raw/ansible/ansible/pull/73493.diff
  response:
    body:
      string: "diff --git a/changelogs/fragments/no_log-fallback.yml b/changelogs/fragments/no_log-fallback.yml\nnew
        file mode 100644\nindex 0000000000000..6947531358576\n--- /dev/null\n+++ b/changelogs/fragments/no_log-fallback.yml\n@@
        -0,0 +1,2 @@\n+security_fixes:\n+  - '**security issue** - Mask default and
        fallback values for ``no_log`` module options (CVE-2021-20228)'\ndiff --git
        a/lib/ansible/module_utils/basic.py b/lib/ansible/module_utils/basic.py\nindex
        63715d3be5cd0..adb95e9706a77 100644\n--- a/lib/ansible/module_utils/basic.py\n+++
        b/lib/ansible/module_utils/basic.py\n@@ -725,6 +725,9 @@ def __init__(self,
        argument_spec, bypass_checks=False, no_log=False,\n                 if k not
        in self.argument_spec:\n                     self.argument_spec[k] = v\n \n+
        \       # Save parameter values that should never be logged\n+        self.no_log_values
        = set()\n+\n         self._load_params()\n         self._set_fallbacks()\n
        \n@@ -736,8 +739,6 @@ def __init__(self, argument_spec, bypass_checks=False,
        no_log=False,\n             print('\\n{\"failed\": true, \"msg\": \"Module
        alias error: %s\"}' % to_native(e))\n             sys.exit(1)\n \n-        #
        Save parameter values that should never be logged\n-        self.no_log_values
        = set()\n         self._handle_no_log_values()\n \n         # check the locale
        as set by the current environment, and reset to\n@@ -1926,14 +1927,15 @@ def
        _set_defaults(self, pre=True, spec=None, param=None):\n             param
        = self.params\n         for (k, v) in spec.items():\n   [...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/commits?per_page=100&q=hash:0cdc410dce6658e93c06fa27e0100ddbb11e7015+org:ansible+org:ansible-collections+is:public
  response:
    body:
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/ansible/ansible/commits/0cdc410dce6658e93c06fa27e0100ddbb11e7015","sha":"0cdc410dce6658e93c06fa27e0100ddbb11e7015","node_id":"MDY6Q29tbWl0MzYzODk2NDowY2RjNDEwZGNlNjY1OGU5M2MwNmZhMjdlMDEwMGRkYmIxMWU3MDE1","html_url":"https://github.com/ansible/ansible/commit/0cdc410dce6658e93c06fa27e0100ddbb11e7015","comments_url":"https://api.github.com/repos/ansible/ansible/commits/0cdc410dce6658e93c06fa27e0100ddbb11e7015/comments","commit":{"url":"https://api.github.com/repos/ansible/ansible/git/commits/0cdc410dce6658e93c06fa27e0100ddbb11e7015","author":{"date":"2021-02-05T09:11:55.000+10:00","name":"Jordan
        Borean","email":"jborean93@gmail.com"},"committer":{"date":"2021-02-05T09:11:55.000+10:00","name":"GitHub","email":"noreply@github.com"},"message":"no_log
        mask suboption fallback values and defaults CVE-2021-20228 (#73487)\n\n* no_log
        mask suboption fallback values and defaults\r\n\r\n* Added changelog\r\n\r\n*
        Remove lambda expression","tree":{"url":"https://api.github.com/repos/ansible/ansible/git/trees/50a5f0359f1d4e459e29e89c8aea127f881fb4b0","sha":"50a5f0359f1d4e459e29e89c8aea127f881fb4b0"},"comment_count":0},"author":{"login":"jborean93","id":8462645,"node_id":"MDQ6VXNlcjg0NjI2NDU=","avatar_url":"https://avatars.githubusercontent.com/u/8462645?v=4","gravatar_id":"","url":"https://api.github.com/users/jborean93","html_url":"https://github.com/jborean93","followers_url":"https://api.github.com/users/jborean93/followers","following_url":"https://api.github.com/users/jborean93/following{/other_user}","gists_url":"https://api.github.com/users/jborean93/gists{/gist_id}","starred_url":"https://api.githu[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ansible/ansible/commits/0cdc410dce6658e93c06fa27e0100ddbb11e7015/pulls?per_page=100
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/ansible/ansible/pulls/73487\",\"id\":567890636,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0NTY3ODkwNjM2\",\"html_url\":\"https://github.com/ansible/ansible/pull/73487\",\"diff_url\":\"https://github.com/ansible/ansible/pull/73487.diff\",\"patch_url\":\"ht[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ansible/ansible/pulls/73067
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/ansible/ansible/pulls/73067\",\"id\":545812921,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0NTQ1ODEyOTIx\",\"html_url\":\"https://github.com/ansible/ansible/pull/73067\",\"diff_url\":\"https://github.com/ansible/ansible/pull/73067.diff\",\"patch_url\":\"https://github.com/ansible/ansible/pull/73067.patch\",\"issue_url\":\"https://api.github.com/repos/ansible/ansible/issues/73067\",\"number\":73067,\"state\":\"closed\",\"locked\":true,\"title\":\"[2.9]
        docker_image: check output of load_image and react upon\",\"user\":{\"login\":\"felixfontein\",\"id\":5781356,\"node_id\":\"MDQ6VXNlcjU3ODEzNTY=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/5781356?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/felixfontein\",\"html_url\":\"https://github.com/felixfontein\",\"followers_url\":\"https://api.github.com/users/felixfontein/followers\",\"following_url\":\"https://api.github.com/users/felixfontein/following{/other_user}\",\"gists_ur[...]
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ansible-collections/community.docker/pulls/55
  response:
    body:
      string: '{"url":"https://api.github.com/repos/ansible-collections/community.docker/pulls/55","id":544676269,"node_id":"MDExOlB1bGxSZXF1ZXN0NTQ0Njc2MjY5","html_url":"https://github.com/ansible-collections/community.docker/pull/55","diff_url":"https://github.com/ansible-collections/community.docker/pull/55.diff","patch_url":"https://[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://github.com/ansible-collections/community.docker/pull/55.diff
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://patch-diff.githubusercontent.com/raw/ansible-collections/community.docker/pull/55.diff
    status:
      code: 302
      message: Found
    url: https://github.com/ansible-collections/community.docker/pull/55.diff
- request:
    body: null
    headers:
    method: GET
    uri: https://patch-diff.githubusercontent.com/raw/ansible-collections/community.docker/pull/55.diff
  response:
    body:
      string: "diff --git a/changelogs/fragments/55-docker_image-loading.yml b/changelogs/fragments/55-docker_image-loading.yml\nnew
        file mode 100644\nindex 0000000..c7694f0\n--- /dev/null\n+++ b/changelogs/fragments/55-docker_image-loading.yml\n@@
        -0,0 +1,3 @@\n+bugfixes:\n+- \"docker_image - report e[...]
