interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/commits?per_page=100&q=hash:997b2d2a1955ccb4e70f805c18dc3e227e86c678+org:ansible+org:ansible-collections+is:public
  response:
    body:
      string: '{"total_count":1,"incomplete_results":false,"items":[{"url":"https://api.github.com/repos/ansible/ansible/commits/997b2d2a1955ccb4e70f805c18dc3e227e86c678","sha":"997b2d2a1955ccb4e70f805c18dc3e227e86c678","node_id":"MDY6Q29tbWl0MzYzODk2NDo5OTdiMmQyYTE5NTVjY2I0ZTcwZjgwNWMxOGRjM2UyMjdlODZjNjc4","html_url":"https://github.com/ansible/ansible/commit/997b2d2a1955ccb4e70f805c18dc3e227e86c678","comments_url":"https://api.github.com/repos/ansible/ansible/commits/997b2d2a1955ccb4e70f805c18dc3e227e86c678/comments","commit":{"url":"https://api.github.com/repos/ansible/ansible/git/commits/997b2d2a1955ccb4e70f805c18dc3e227e86c678","author":{"date":"2021-02-03T20:34:12.000-05:00","name":"Sam
        Doran","email":"sdoran@redhat.com"},"committer":{"date":"2021-02-03T17:34:12.000-08:00","name":"GitHub","email":"noreply@github.com"},"message":"Make
        yum_repository test more reliable (#73467)\n\n* Improve setup_rpm_repo\r\n\r\n-
        add handlers to remove repos\r\n- add variable to control whethere or not
        repos are created\r\n\r\n* Use local repo for all distros\r\n* Change repo
        creation script to module","tree":{"url":"https://api.github.com/repos/ansible/ansible/git/trees/9dd8ed3252c45516fe56d9c423df41eceb019a01","sha":"9dd8ed3252c45516fe56d9c423df41eceb019a01"},"comment_count":0},"author":{"login":"samdoran","id":4047861,"node_id":"MDQ6VXNlcjQwNDc4NjE=","avatar_url":"https://avatars.githubusercontent.com/u/4047861?v=4","gravatar_id":"","url":"https://api.github.com/users/samdoran","html_url":"https://github.com/samdoran","followers_url":"https://api.github.com/users/samdoran/followers","following_url":"https://api.github.com/users/samdoran/following{/other_user}","gists_url":"https://api.github.com/users/samdoran/gists{/gist_id}","starred_url":"https://api.github.com/users/samdoran/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/samdoran/subscriptions","organizations_url":"https://api.github.com/users/samdoran/orgs","repos_url":"https://api.github.com/users/samdoran/repos","events_url":"https://api.github.com/users/samdoran/events{/privacy}","received_events_url":"https://api.github.com/users/samdoran/received_events","type":"User","site_admin":false},"committer":{"login":"web-flow","id":19864447,"node_id":"MDQ6VXNlcjE5ODY0NDQ3","avatar_url":"https://avatars.githubusercontent.com/u/19864447?v=4","gravatar_id":"","url":"https://api.github.com/users/web-flow","html_url":"https://github.com/web-flow","followers_url":"https://api.github.com/users/web-flow/followers","following_url":"https://api.github.com/users/web-flow/following{/other_user}","gists_url":"https://api.github.com/users/web-flow/gists{/gist_id}","starred_url":"https://api.github.com/users/web-flow/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/web-flow/subscriptions","organizations_url":"https://api.github.com/users/web-flow/orgs","repos_url":"https://api.github.com/users/web-flow/repos","events_url":"https://api.github.com/users/web-flow/events{/privacy}","received_events_url":"https://api.github.com/users/web-flow/received_events","type":"User","site_admin":false},"parents":[{"url":"https://api.github.com/repos/ansible/ansible/commits/9759e0ca494de1fd5fc2df2c5d11c57adbe6007c","html_url":"https://github.com/ansible/ansible/commit/9759e0ca494de1fd5fc2df2c5d11c57adbe6007c","sha":"9759e0ca494de1fd5fc2df2c5d11c57adbe6007c"}],"repository":{"id":3638964,"node_id":"MDEwOlJlcG9zaXRvcnkzNjM4OTY0","name":"ansible","full_name":"ansible/ansible","private":false,"owner":{"login":"ansible","id":1507452,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE1MDc0NTI=","avatar_url":"https://avatars.githubusercontent.com/u/1507452?v=4","gravatar_id":"","url":"https://api.github.com/users/ansible","html_url":"https://github.com/ansible","followers_url":"https://api.github.com/users/ansible/followers","following_url":"https://api.github.com/users/ansible/following{/other_user}","gists_url":"https://api.github.com/users/ansible/gists{/gist_id}","starred_url":"https://api.github.com/users/ansible/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ansible/subscriptions","organizations_url":"https://api.github.com/users/ansible/orgs","repos_url":"https://api.github.com/users/ansible/repos","events_url":"https://api.github.com/users/ansible/events{/privacy}","received_events_url":"https://api.github.com/users/ansible/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/ansible/ansible","description":"Ansible
        is a radically simple IT automation platform that makes your applications
        and systems easier to deploy and maintain. Automate everything from code deployment
        to network configuration to cloud management, in a language that approaches
        plain English, using SSH, with no agents to install on remote systems. https://docs.ansible.com.","fork":false,"url":"https://api.github.com/repos/ansible/ansible","forks_url":"https://api.github.com/repos/ansible/ansible/forks","keys_url":"https://api.github.com/repos/ansible/ansible/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ansible/ansible/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ansible/ansible/teams","hooks_url":"https://api.github.com/repos/ansible/ansible/hooks","issue_events_url":"https://api.github.com/repos/ansible/ansible/issues/events{/number}","events_url":"https://api.github.com/repos/ansible/ansible/events","assignees_url":"https://api.github.com/repos/ansible/ansible/assignees{/user}","branches_url":"https://api.github.com/repos/ansible/ansible/branches{/branch}","tags_url":"https://api.github.com/repos/ansible/ansible/tags","blobs_url":"https://api.github.com/repos/ansible/ansible/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ansible/ansible/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ansible/ansible/git/refs{/sha}","trees_url":"https://api.github.com/repos/ansible/ansible/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ansible/ansible/statuses/{sha}","languages_url":"https://api.github.com/repos/ansible/ansible/languages","stargazers_url":"https://api.github.com/repos/ansible/ansible/stargazers","contributors_url":"https://api.github.com/repos/ansible/ansible/contributors","subscribers_url":"https://api.github.com/repos/ansible/ansible/subscribers","subscription_url":"https://api.github.com/repos/ansible/ansible/subscription","commits_url":"https://api.github.com/repos/ansible/ansible/commits{/sha}","git_commits_url":"https://api.github.com/repos/ansible/ansible/git/commits{/sha}","comments_url":"https://api.github.com/repos/ansible/ansible/comments{/number}","issue_comment_url":"https://api.github.com/repos/ansible/ansible/issues/comments{/number}","contents_url":"https://api.github.com/repos/ansible/ansible/contents/{+path}","compare_url":"https://api.github.com/repos/ansible/ansible/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ansible/ansible/merges","archive_url":"https://api.github.com/repos/ansible/ansible/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ansible/ansible/downloads","issues_url":"https://api.github.com/repos/ansible/ansible/issues{/number}","pulls_url":"https://api.github.com/repos/ansible/ansible/pulls{/number}","milestones_url":"https://api.github.com/repos/ansible/ansible/milestones{/number}","notifications_url":"https://api.github.com/repos/ansible/ansible/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ansible/ansible/labels{/name}","releases_url":"https://api.github.com/repos/ansible/ansible/releases{/id}","deployments_url":"https://api.github.com/repos/ansible/ansible/deployments"},"score":1.0}]}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-OAuth-Scopes:
      - ''
      X-GitHub-Media-Type:
      - github.cloak-preview, github.groot-preview; format=json
      X-OAuth-Scopes:
      - repo, workflow
      X-RateLimit-Limit:
      - '30'
      X-RateLimit-Remaining:
      - '29'
      X-RateLimit-Reset:
      - '1614409897'
      x-ratelimit-used:
      - '1'
    status:
      code: 200
      message: OK
    url: https://api.github.com/search/commits?per_page=100&q=hash:997b2d2a1955ccb4e70f805c18dc3e227e86c678+org:ansible+org:ansible-collections+is:public
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ansible/ansible/commits/997b2d2a1955ccb4e70f805c18dc3e227e86c678/pulls?per_page=100
  response:
    body:
      string: "[{\"url\":\"https://api.github.com/repos/ansible/ansible/pulls/73467\",\"id\":567105430,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0NTY3MTA1NDMw\",\"html_url\":\"https://github.com/ansible/ansible/pull/73467\",\"diff_url\":\"https://github.com/ansible/ansible/pull/73467.diff\",\"patch_url\":\"https://github.com/ansible/ansible/pull/73467.patch\",\"issue_url\":\"https://api.github.com/repos/ansible/ansible/issues/73467\",\"number\":73467,\"state\":\"closed\",\"locked\":false,\"title\":\"Make
        yum_repository test more reliable\",\"user\":{\"login\":\"samdoran\",\"id\":4047861,\"node_id\":\"MDQ6VXNlcjQwNDc4NjE=\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/4047861?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/samdoran\",\"html_url\":\"https://github.com/samdoran\",\"followers_url\":\"https://api.github.com/users/samdoran/followers\",\"following_url\":\"https://api.github.com/users/samdoran/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/samdoran/gists{/gist_id}\",\"starred_ur[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/repos/ansible/ansible/pulls/73467
  response:
    body:
      string: "{\"url\":\"https://api.github.com/repos/ansible/ansible/pulls/73467\",\"id\":567105430,\"node_id\":\"MDExOlB1bGxSZXF1ZXN0NTY3MTA1NDMw\",\"html_url\":\"https://github.com/ansible/ansible/pull/73467\",\"diff_url\":\"https://github.com/ansible/ansible/pull/73467.diff\",\"patch_url\":\"https://github.com/ansible/ansible/pull/73467.patch\",\"iss[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://github.com/ansible/ansible/pull/73467.diff
  response:
    body: {}
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Location:
      - https://patch-diff.githubusercontent.com/raw/ansible/ansible/pull/73467.diff
    status:
      code: 302
      message: Found
    url: https://github.com/ansible/ansible/pull/73467.diff
- request:
    body: null
    headers:
    method: GET
    uri: https://patch-diff.githubusercontent.com/raw/ansible/ansible/pull/73467.diff
  response:
    body:
      string: "diff --git a/test/integration/targets/setup_rpm_repo/defaults/main.yml
        b/test/integration/targets/setup_rpm_repo/defaults/main.yml\nindex e69de29bb2d1d..19c033b92964b
        100644\n--- a/test/integration/targets/setup_rpm_repo/defaults/main.yml\n+++
        b/test/integration/targets/setup_rpm_repo/defaults/mai[...]
