{% extends "base.html" %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Artifact Health (Release Artifact Testing)</h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Job</th>
          <th scope="col">Status</th>
          <th scope="col">Result</th>
          <th scope="col">Start</th>
          <th scope="col">Stop</th>
        </tr>
      </thead>
      <tbody>
{#        {% for job in jobs %}
          <tr>
            <td>{{ macros.conclusion_to_icon(job['status'], job['conclusion']) }}</td>
            <th scope="row">
              <a href="{{ job['html_url'] }}">{{ job['name'] }}</a>
            </th>
            <td>{{ job['status'] }}</td>
            <td>{{ job['conclusion'] }}</td>
            <td>{{ job['started_at'] }}</td>
            <td>{{ job['completed_at'] }}</td>
          </tr>
        {% endfor %}#}
      </tbody>
    </table>
  </div>
</div>
{% endblock main %}
