{% extends 'base.html' %}

{% block main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Actionable Backports</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col" colspan="3">Backport</th>
            <th scope="col" colspan="3">Original Patch</th>
          </tr>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Rel. Churn</th>
            <th scope="col">PR #</th>
            <th scope="col">Author</th>
            <th scope="col">Rel. Churn</th>
          </tr>
        </thead>
        {% for version, bps in backports.items() %}
          <tbody>
            <tr>
              <th scope="col" colspan="6">Version: {{ version }}</th>
            </tr>
            {% for bp in bps %}
              <tr>
                <td>
                  <a href="{{ bp.pr['html_url'] }}">{{ bp.pr['title'] }}</a>
                  {% if bp.is_missing_changelog %}
                    <span class="badge bg-warning text-dark">changelog</span>
                  {% endif %}
                </td>
                <td><a href="{{ bp.pr['user']['html_url'] }}">@{{ bp.pr['user']['login'] }}</a></td>
                <td>
                  <div class="progress">
                    {% set risk = bp.relative_risk(max_risk) %}
                    <div class="progress-bar bg-{{ macros.risk_to_class(risk) }}" role="progressbar" style="width: {{ risk }}%" aria-valuenow="{{ risk }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                {% if bp.original %}
                  <td>
                    <a href="{{ bp.original.pr['html_url'] }}">
                      #{{ bp.original.pr.number }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ bp.original.pr['html_url'] }}">
                      @{{ bp.original.pr['user']['login'] }}
                    </a>
                  </td>
                  <td>
                    <div class="progress">
                      {% set risk = bp.original.relative_risk(max_orig_risk) %}
                      <div class="progress-bar bg-{{ macros.risk_to_class(risk) }}" role="progressbar" style="width: {{ risk }}%" aria-valuenow="{{ risk }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                {% else %}
                  <td colspan="3">N/A</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
