{% extends 'base.html' %}

{% block main %}
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Actionable Backports</h1>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <table class="table table-striped table-bordered">
        <thead>
          <tr class="text-center">
            <th scope="col" colspan="3">Backport</th>
            <th scope="col" colspan="3">Original Patch</th>
          </tr>
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Rel. Churn</th>
            <th scope="col">PR #</th>
            <th scope="col">Author</th>
            <th scope="col">Rel. Churn</th>
          </tr>
        </thead>
        {% for version, prs in backports.items() %}
          <tbody>
            <tr>
              <th scope="col" colspan="6">Version: {{ version }}</th>
            </tr>
            {% for backport in prs %}
              <tr>
                <td><a href="{{ backport['html_url'] }}">{{ backport['title'] }}</a></td>
                <td><a href="{{ backport['user']['html_url'] }}">@{{ backport['user']['login'] }}</a></td>
                <td>
                  <div class="progress">
                    {% set score = scores[backport['number']] %}
                    <div class="progress-bar bg-{{ score_to_class(score) }}" role="progressbar" style="width: {{ score }}%" aria-valuenow="{{ score }}" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </td>
                {% if backport['number'] in originals %}
                  <td>
                    <a href="{{ originals[backport['number']]['html_url'] }}">
                      #{{ originals[backport['number']]['number'] }}
                    </a>
                  </td>
                  <td>
                    <a href="{{ originals[backport['number']]['user']['html_url'] }}">
                      @{{ originals[backport['number']]['user']['login'] }}
                    </a>
                  </td>
                  <td>
                    <div class="progress">
                      {% set score = orig_scores[backport['number']] %}
                      <div class="progress-bar bg-{{ score_to_class(score) }}" role="progressbar" style="width: {{ score }}%" aria-valuenow="{{ score }}" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </td>
                {% else %}
                  <td colspan="3">N/A</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
