{% extends 'base.html' %}

{% block main %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Release Overview</h1>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="card text-white bg-success mb-3 text-center">
      <div class="card-body">
        <h2 class="card-title fw-bold font-monospace">2.8.19</h2>
        <div class="card-text">
          Released on Feb 18, 2021<br>
          <span class="font-monospace">2.8.20rc1</span> is planned for Mar 8, 2021
        </div>
      </div>
      <div class="card-footer">
        NOTE: <strong>Ansible 2.8</strong> is nearing EOL.
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-success mb-3 text-center">
      <div class="card-body">
        <h2 class="card-title fw-bold font-monospace">2.8.19</h2>
        <div class="card-text">
          Released on Feb 18, 2021<br>
          <span class="font-monospace">2.8.20rc1</span> is planned for Mar 8, 2021
        </div>
      </div>
      <div class="card-footer">
        NOTE: <strong>Ansible 2.8</strong> is nearing EOL.
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-success mb-3 text-center">
      <div class="card-body">
        <h2 class="card-title fw-bold font-monospace">2.8.19</h2>
        <div class="card-text">
          Released on Feb 18, 2021<br>
          <span class="font-monospace">2.8.20rc1</span> is planned for Mar 8, 2021
        </div>
      </div>
      <div class="card-footer">
        NOTE: <strong>Ansible 2.8</strong> is nearing EOL.
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card text-white bg-success mb-3 text-center">
      <div class="card-body">
        <h2 class="card-title fw-bold font-monospace">2.8.19</h2>
        <div class="card-text">
          Released on Feb 18, 2021<br>
          <span class="font-monospace">2.8.20rc1</span> is planned for Mar 8, 2021
        </div>
      </div>
      <div class="card-footer">
        NOTE: <strong>Ansible 2.8</strong> is nearing EOL.
      </div>
    </div>
  </div>



</div>

<div class="row">
  <div class="col-md-6">
    <div id="chart_div"></div>
  </div>
</div>

<script>
  google.charts.load('current', {packages: ['corechart', 'line']});
  google.charts.setOnLoadCallback(drawCurveTypes);

  function drawCurveTypes() {
    var data = new google.visualization.DataTable();

    <?php
      $issues = AnsibleGitHub::getIssuesForMonthGrouped();
      echo AnsibleGitHub::dateArrayToGoogleChart($issues);
    ?>

    var options = {
      title: 'Recent Stable Release Issue Activity',
      hAxis: {
        title: 'Time'
      },
      vAxis: {
        title: 'Issues'
      },
      series: {
        1: {curveType: 'function'}
      }
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
    chart.draw(data, options);
  }
</script>
{% endblock %}
